*.log
*.pyc
*.lnk
*.tcx
*.json
*.png
.pydevproject
Thumbs.db
fortius_ant/build/
fortius_ant/dist/
Miscellaneous/
node_modules
package-lock.json
pythoncode/help.txt
!StartUp Json/FortiusAntSettings.json
wheels
build
dist
fortius_ant.egg-info
debian/fortius-ant
debian/.debhelper
debian/*debhelper
debian/*substvars
debian/files
wxPython-source.txt
sphinx/source/generated/
flake8heavened
fortius_ant/_debversion.py
fortius_ant/_snapversion.py
