[Desktop Entry]
Version=1.5
Type=Application
Exec=fortius-ant
Name=FortiusANT
Icon=FortiusAntIcon.png
Actions=Terminal; Settings;

[Desktop Action Terminal]
Name=Open with terminal window
Exec=gnome-terminal --working-directory=~ -- 'fortius-ant'

[Desktop Action Settings]
Name=Open settings window
Exec=fortius-ant --settings
