Source: fortius-ant
Section: python
Priority: extra
Maintainer: Sebastien Laclau <seb.laclau@gmail.com>
Build-Depends: debhelper (>= 9), dh-virtualenv (>= 0.8),
 python3 (<= 3.9) | python3.9,
 python3-dev (<= 3.9) | python3.9-dev,
 python3-distutils (<= 3.9) | python3.9-distutils,
 python3-venv (<= 3.9) | python3.9-venv,
 libffi-dev,
Standards-Version: 3.9.5

Package: fortius-ant
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3.9, ${misc:Pre-Depends}
Depends: ${misc:Depends},
 freeglut3,
 libgl1-mesa-glx,
 libglu1-mesa,
 libgstreamer-plugins-base1.0-0,
 libgtk-3-0,
 libjpeg8,
 libnotify4,
 libpng16-16,
 libsdl2-2.0-0,
 libsm6,
 libtiff5,
 libwebkit2gtk-4.0-37,
 libxtst6
Description: FortiusANT by WouterJD
