Source: python-fortius-ant
Section: python
Priority: optional
Maintainer: Sebastien Laclau <seb.laclau@gmail.com>
Build-Depends:
 dh-python,
 debhelper-compat (= 12),
 python3-all,
 python3-setuptools,
 python3.8,

Package: python3-fortius-ant
Architecture: any
Multi-Arch: allowed
Depends:
 ${python3:Depends},
 ${shlibs:Depends},
 ${misc:Depends},
Recommends: ${python3:Recommends},
Suggests: ${python3:Suggests},
Description: FortiusANT by WouterJD

Package: fortius-ant
Architecture: any
Multi-Arch: allowed
Depends: python3-fortius-ant
Description: Dependency package for fortius-ant
