#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

SYSPY := $(shell python3 useSystemPython.py)
ifdef SYSPY
override_dh_virtualenv:
	python3 wxPython-source.py
	dh_virtualenv \
	--python python3 \
	--builtin-venv
else
override_dh_virtualenv:
	python3 wxPython-source.py
	dh_virtualenv \
	--python python3.9 \
	--builtin-venv
endif

override_dh_strip:
	dh_strip --exclude=/site-packages/

override_dh_shlibdeps:
	dh_shlibdeps --exclude=/site-packages/
