#!/usr/bin/make -f

%:
	dh $@ --with python-virtualenv

SYSPY := $(shell python3 useSystemPython.py)
ifdef SYSPY
override_dh_clean:
	python3 wxPython-source.py
	dh_clean
	python3 -m pip download \
	--destination-directory pip_local \
	-r requirements.txt
override_dh_virtualenv:
	dh_virtualenv \
	--python python3 \
	--builtin-venv \
	--extra-pip-arg --no-index \
	--extra-pip-arg --find-links=pip_local
else
override_dh_clean:
	python3.9 wxPython-source.py
	dh_clean
	python3.9 -m pip download \
	--destination-directory pip_local \
	-r requirements.txt
override_dh_virtualenv:
	dh_virtualenv \
	--python python3.9 \
	--builtin-venv \
	--extra-pip-arg --no-index \
	--extra-pip-arg --find-links=pip_local
endif

override_dh_strip:
	dh_strip --exclude=/site-packages/Pillow.libs

override_dh_shlibdeps:
	dh_shlibdeps --exclude=/site-packages/Pillow.libs --exclude=/site-packages/numpy

